<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LLM Experiments</title>
  <link rel="icon" type="image/x-icon" href={{ url_for('static', filename='favicon.png') }} >
  <!-- Add Bootstrap and jQuery -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
    <img src="{{ url_for('static', filename='logo1.png') }}" alt="Softbroid.com"> <!-- Add your logo image here -->
    Data Manager
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link menu-link" href="{{ url_for('documents.documents') }}">Documents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-link" href="{{ url_for('images.images') }}">Images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-link" href="{{ url_for('conversations.conversations') }}">Conversations</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  {% block content %}
  {% endblock %}
</div>
  {% block scripts %}
  {% endblock %}
</body>
</html>

